<ng-container *ngIf="identity.orgs$ | async as orgs else loading">
  <div class="mat-typography mat-app-background app-frame"
       fxLayout="column"
       [ngClass]="theme.name">
    <banner [label]="config.label"
            [background]="config.background"
            [color]="config.color"></banner>
    <mat-toolbar color="primary"
                 class="app-toolbar">
      <button mat-icon-button
              (click)="sidepanel.toggleState()">
        <mat-icon>menu</mat-icon>
      </button>
      <span fxFlex>Authorization Demo</span>
      <mat-form-field>
        <mat-label>Org Selector</mat-label>
        <mat-select [(ngModel)]="auth.org"
                    (valueChange)="setAuthContext($event.id)"
                    [compareWith]="mapper.compareOrgs">
          <mat-option *ngFor="let org of orgs"
                      [value]="org">{{org.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button
              matTooltip="Sync Permissions"
              (click)="setAuthContext(auth.org.id)">
        <mat-icon>sync</mat-icon>
      </button>
      <button mat-icon-button
              matTooltip="Profile Settings"
              (click)="viewSettings(user)">
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar>
    <section class="app-body"
             fxFlex
             fxFill
             fxLayout="row"
             fxLayoutAlign="start stretch">
      <sidepanel>
        <panel-link link="/config"
                    label="Configuration"
                    icon="account_circle"
                    [state]="state"></panel-link>
        <mat-divider></mat-divider>
        <panel-link link="/items"
                    label="Org Items"
                    icon="storefront"
                    [state]="state"
                    *ngIf="auth.org && auth.roles.length > 0"></panel-link>
        <panel-link link="/admin"
                    label="App Settings"
                    icon="settings"
                    [state]="state"
                    *ngIf="auth.user.isAdmin"></panel-link>
      </sidepanel>
      <div fxFlex
           class="app-panel">
        <router-outlet></router-outlet>
      </div>
    </section>
  </div>
</ng-container>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate"
                    color="accent"></mat-progress-bar>
</ng-template>
