<section fxLayout="row"
         fxLayoutAlign="start start">
  <section fxLayout="column"
           fxLayoutAlign="start stretch">
    <mat-toolbar>Orgs</mat-toolbar>
    <searchbar label="Search Orgs"
               [minimum]="2"
               (search)="orgSvc.searchOrgs($event)"
               (clear)="orgSvc.getOrgs()"></searchbar>
    <ng-template #loadingOrgs>
      <mat-progress-bar mode="indeterminate"
                        color="accent"></mat-progress-bar>
    </ng-template>
    <ng-container *ngIf="orgSvc.orgs$ | async as orgs else loadingOrgs">
      <section fxLayout="column"
               fxLayoutAlign="start stretch"
               class="container"
               *ngIf="orgs.length > 0">
        <org-select-card *ngFor="let o of orgs"
                         [org]="o"
                         [selected]="o.id === org?.id"
                         (action)="selectOrg($event)"
                         (deselect)="deselectOrg()"></org-select-card>
      </section>
      <p class="mat-body-strong"
         *ngIf="!(orgs.length > 0)">No Orgs Available</p>
    </ng-container>
  </section>
  <section fxLayout="column"
           fxLayoutAlign="start stretch"
           fxFlex>
    <mat-toolbar>Users</mat-toolbar>
    <ng-template #loadingUsers>
      <mat-progress-bar mode="indeterminate"
                        color="accent"></mat-progress-bar>
    </ng-template>
    <ng-container *ngIf="org?.id">
      <ng-container *ngIf="orgSvc.excludedUsers$ | async as excludedUsers else loadingUsers">
        <section *ngIf="orgSvc.users$ | async as users else loadingUsers"
                 class="container">
          <p class="mat-title">{{org?.name}}'s Users</p>
          <user-selector [users]="excludedUsers"
                         [orgUsers]="users"
                         [pending]="uploading"
                         (save)="saveOrgUsers($event)"></user-selector>
        </section>
      </ng-container>
    </ng-container>
    <p *ngIf="!(org?.id)"
       class="mat-body-strong">Select an Org to Assign Users</p>
  </section>
</section>
