<nav mat-tab-nav-bar
     class="scrolled">
  <a mat-tab-link
     routerLink="users"
     routerLinkActive="active">
    Users
  </a>
  <a mat-tab-link
     routerLink="user-roles"
     routerLinkActive="active">
    User Roles
  </a>
  <a mat-tab-link
     routerLink="orgs"
     routerLinkActive="active">
    Orgs
  </a>
  <a mat-tab-link
     routerLink="org-users"
     routerLinkActive="active">
    Org Users
  </a>
  <a mat-tab-link
     routerLink="org-user-roles"
     routerLinkActive="active">
    Org User Roles
  </a>
</nav>
<router-outlet></router-outlet>
