<div class="mat-typography">
  <h2 mat-dialog-title>Brief Bin</h2>
  <mat-dialog-content>
    <ng-template #loading>
      <mat-progress-bar mode="indeterminate"
                        color="accent"></mat-progress-bar>
    </ng-template>
    <ng-container *ngIf="briefSvc.briefs$ | async as briefs else loading">
      <section *ngIf="briefs.length > 0"
               fxLayout="column"
               fxLayoutAlign="start stretch"
               class="container">
        <section *ngFor="let b of briefs"
                 class="background card elevated"
                 fxLayout="row"
                 fxLayoutAlign="start center"
                 [style.background-color]="b.background">
          <section fxLayout="column"
                   fxLayoutAlign="start stretch"
                   fxFlex
                   [style.color]="b.foreground">
            <p class="mat-title">{{b.name}}</p>
          </section>
          <section class="background stacked"
                   fxLayout="column"
                   fxLayoutAlign="space-evenly center">
            <button mat-icon-button
                    matTooltip="Restore"
                    (click)="restoreBrief(b)">
              <mat-icon>restore_from_trash</mat-icon>
            </button>
            <button mat-icon-button
                    matTooltip="Delete"
                    color="warn"
                    (click)="removeBrief(b)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </section>
        </section>
      </section>
      <p *ngIf="!(briefs.length > 0)"
         class="mat-title">Recycle Bin is Empty</p>
    </ng-container>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button
            mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
