<div class="mat-typography">
  <h2 mat-dialog-title>
    <span *ngIf="brief.id > 0">Edit Brief</span>
    <span *ngIf="!(brief.id > 0)">Add Brief</span>
  </h2>
  <mat-dialog-content>
    <section fxLayout="column"
             fxLayoutAlign="start stretch"
             class="container">
      <mat-form-field>
        <mat-label>Brief</mat-label>
        <input matInput
               [(ngModel)]="brief.name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Foreground Color</mat-label>
        <input matInput
               [(ngModel)]="brief.foreground" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Background Color</mat-label>
        <input matInput
               [(ngModel)]="brief.background" />
      </mat-form-field>
      <p class="mat-title">Brief Preview</p>
      <section class="container"
               fxLayout="column"
               fxLayoutAlign="center center"
               [style.color]="brief.foreground"
               [style.background-color]="brief.background">
        <p class="mat-subheading-2">{{brief.name}}</p>
      </section>
    </section>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button
            (click)="saveBrief()">Save</button>
    <button mat-button
            mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>
